.main-page-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background: url('../HomePages/assets/images/Background.png');
}

.hero-contianer-radio{
    width: 1250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
